:root {
  --fon-color: #849D8F;
  --fon-color-two: #8996A6;
  --fon-color-three: #9D8B84;
  --basic-white-text: #ffffff;
  --basic-dark-text: #323232;
  --basic-mail: #F8F7F4;
  --basic-mail-text: #5A5A5A;
  --Raspberry-color: #8B0000;
  --Chocolate-color: #8B4513;
  --Pattern-color: #DEB887;
  --black-color: #000000;
}



.visually_hidden {
  display: none;
}


*, *::before, *::after {
box-sizing: border-box;
} 

body {
  background-color: var(--fon-color);
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--basic-white-text);
}

img { 
  max-width: 100%
}

a { 
  text-decoration: none
}


.page {
  height: 100%;
}

.page_body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/*Кнопки и состояние на баннерах */

 .button {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Меню */

.container {
  position: relative;
  width: 1146px;
  margin: 0 auto;
}

.head {
  margin-top: 9px;
}

.site_header {
    display: flex;
  }

.main_navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-white-text);
  list-style-type: none;
  margin-top: 20px;
  margin-left: 24px;
}

.main_navigation_ctlg,
.main_navigation_delivery,
.main_navigation_about_company {
  margin-right: 32px;
}

.main_navigation_ctlg {
  position: relative;
}


.main_navigation a {
  color: var(--basic-white-text);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.user_navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
  margin-left: auto;
}

.active_ctlg {
  padding: 5px 14px 7px 14px;
  background: #D07058;
  border-radius: 26px;
  margin-left: -14px;
  margin-right: -13px;
}

.active_ctlg:active {
  color: #323232;

  background: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
}

.ctlg {
padding: 5px 16px 7px 13px;
margin-left: -14px;
margin-right: -11px;
}

.ctlg:hover  {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-text);

  /*color: #323232;*/

  background: #FFFFFF;
  border-radius: 26px;
}

.main_navigation_ctlg:hover 
.ctlg_submenu {
  display: block;
}


.ctlg_submenu {
  display: none;
  position: absolute;
  top: 30px;
  left: -21px;

  list-style-type: none;
  padding: 0px;
  z-index: 1;

  background: #FFFFFF;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}


.ctlg_submenu a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-text);
  text-decoration: none;
}


.ctlg_submenu li:first-child {
  margin-top: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.ctlg_submenu li:last-child {
  margin-bottom: 9px;
}


.ctlg_submenu li {
  min-width: 143px;
  padding: 3px 20px 3px 21px;
  margin-top: 7px;
}


.ctlg_submenu .novelties_ctlg {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.ctlg_submenu li:hover {
  background-color: #FBDED7;
}

.ctlg_submenu li:active {
  background-color: #F6B5A5;
}

.active {
  background-color: #D07058;
}


/* Поиск */

.search {
  position: relative;
  padding: 8px;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-right: 10px;
}

.search:hover {
  background-color: #ffffff;
}

.search:hover .search_icon {
  background-image: url(../img/decor/search_hover.svg);
}

.search:hover .search_form {
  display: block;
  z-index: 2;
}

.search_icon { 
  display: block;
  width: 16px;
  height: 16px;  
  background-image: url(../img/decor/loupe.svg);
}

.search_form {         
  display: none;
  position: absolute;
  right: 0px;
  top: 36px;

  width: 341px;
  padding: 20px 15px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}    

.search_box {
  width: 311px;
  height: 44px;
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
}

.search input {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #323232;
}

.search input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

/* Логин */

.login {
  position: relative;
  padding: 5px 16px 8px 44px;
  margin-right: 10px;
  width: 92px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.login:hover {
  background-color: #ffffff;
}

.login:hover .login_url::before {
  background-image: url(../img/decor/entrance.svg);
}

.login:hover .login_form {
  display: block;
  z-index: 2;
}

.login:hover .login_url {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-text);
}

.login_url::before {
  content: "";
  position: absolute;
  left: 16px;

  width: 20px;
  height: 19px;
  background-image: url(../img/decor/login_white.svg);
  background-repeat: no-repeat;
}

.login a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-text);
}

.login_form {
  display: none;
  position: absolute;
  right: 0px;
  top: 36px;

  padding: 20px 17px 10px 19px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.login_form input {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #323232;

  width: 241px;
  height: 44px;

  padding: 15px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
}


.login_form input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.authentication_problem {
  padding: 0;
  margin-top: -46px;
  line-height: 21px;
  width: 119px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  list-style-type: none;
}

.authentication_problem a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark-text);
  text-decoration: underline;
  text-decoration-color: #808080;
}

.authentication_problem a:hover {
  color: #E84D37;
}

.authentication_problem a:active {
  color: #E84D37;
}


.button_login {
  padding: 14px 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  border: none;
  color: var(--basic-white-text);
}


/* Корзина пустая */

.empty_basket {
  position: relative;
  padding: 5px 16px 8px 45px;
  width: 100px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.empty_basket a {
  color: var(--basic-white-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.empty_basket a::before {
  content: "";
  position: absolute;
  left: 15px;

  width: 21px;
  height: 20px;
  background-image: url(../img/decor/basket.svg);
  background-repeat: no-repeat;
}

 /*Корзина с товарами*/

.basket_red {
  position: relative;
  padding: 5px 16px 9px 44px;
  width: 118px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 20px;
}

.basket_red:hover .basket_red_form {
  display: block;
}

.basket_red_form {
  display: none;
  position: absolute;
  right: 0px;
  top: 36px;
  width: 539px;
  padding: 20px 14px 21px 21px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}


.list_of_goods {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  border-bottom: 1px solid #CACAC7;
}

.list_of_goods li{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}


.list_of_goods button {
  border: none;
  padding: 0;
  margin-right: 9px;
  background: transparent;
}

 .basket_red a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-text);
 }

 .basket_red_url::before {
  content: "";
  position: absolute;
  left: 15px;

  width: 21px;
  height: 20px;
  background-image: url(../img/decor/basket-red.svg);
  background-repeat: no-repeat;
}

 .product_basket {
  width: 216px;
  display: inline-block;
  text-align: start;
  margin-right: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark-text)
 }


 .price_kg {
  margin-right: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--black-color);
 }

.total {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark-text);
}

 .total_price {
  margin: 0;
  text-align: end;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-dark-text);
 }

 .picture_in_basket {
  margin-right: 13px;
 }

 .button_place_your_order {
  margin-left: 332px;
  padding: 13px 15px 13px 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  border: none;
  color: var(--basic-white-text);
 }

/* Время работы и тел */

.contacts {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  width: 171px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-top: -3px;
  margin-left: auto;
}

.contacts p {
  margin: 0;
}

.phone  {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white-text)
}


/* Слайдеры на главной */

.site_wrapper {
  background-color: #849d8f;
  background-image: url(../img/content/slide1.png);
  background-repeat: no-repeat;
  background-position: top 83px center;
}

.slider {
  position: relative;
  padding-top: 273px;
  text-align: center;
}

.slider_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider_title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px; 
  text-align: center;
  margin: 0 auto;
  width: 672px;
  margin-bottom: 27px;
}

.slider a {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: var(--basic-white-text);
  text-align: center;
}

.site_wrapper_1 {
  background-color: var(--fon-color);
  background-image: url(../img/content/slide1.png);
}

.site_wrapper_2 {
  background-color: var(--fon-color-two);
  background-image: url(../img/content/slide2.png);
}

.site_wrapper_3 {
  background-color: var(--fon-color-three);
  background-image: url(../img/content/slide3.png);
}

.slider_button {
  display: inline-block;
  padding: 9px 41px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
}

.slider_buy:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider_buy:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider_controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  display: grid;
  grid-template-columns: 21px 21px 21px;
  column-gap: 8px;
  width: 67px;
  justify-content: space-between;
}

.slider_controls button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider_controls button:active {
  background-color: #FFFFFF;
}

.slider_controls button {
  padding: 0px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white-text);
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider_controls .current {
  background-color: #ffffff;
}

  /*Малиновый + шоколадный банер*/

.hit {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 26px;
  margin-top: 40px;
}


/* Малиновый баннер */

.raspberry {
  width: 560px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 22px;
  padding-bottom: 22px;
  border-radius: 16px;
  background-color: var(--Raspberry-color);
  background-image: url(../img/fon/crimson-background.png);
}

.raspberry h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.raspberry a {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
}

.raspberry p {
  max-width: 514px;
  margin: 0;
  margin-top: 16px;
}

.button_raspberry {
  margin-top: 42px;
  margin-left: 358px;
  padding: 12px 22px;
}


/* Шоколадный баннер баннер */

.chocolate {
  width: 560px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 22px;
  padding-bottom: 22px;
  border-radius: 16px;
  background-color: var(--Chocolate-color);
  background-image: url(../img/fon/chocolate-background.png);
}

.chocolate h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0;

}

.chocolate a {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
}

.chocolate p {
  margin: 0;
  margin-top: 16px;
}

.button_chocolate {
  margin-left: 332px;
  margin-top: 42px;
  padding: 12px 22px;

}

/* Хиты */

.price {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.kg {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.hits {
  margin-top: 40px;
  margin-bottom: 40px;
}

.hits ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 267px 267px 267px 267px;
  column-gap: 26px;
  margin: 0;
  padding: 0;
}

.hits li {
  position: relative;
  width: 267px;
  z-index: 1;
}

.hits li::before {
  content: "";
  position: absolute;
  bottom: 264px;

  width: 61px;
  height: 61px;
  background-image: url(../img/decor/hit.svg);
  background-repeat: no-repeat;
}

.hits li:hover .hit_hover {
  display: block;
}


.hits h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  bottom: 48px;
}

.info a:hover {
  color: #FFBC9E;
}

.info a:active {
  color: #FFBC9E;
}

.hits p {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 71px;
}

.hits a {
  color: var(--basic-white-text);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}


/* Преимущества, вафельный фон */

.advantages {
  /*border:1px dashed transparent;*/
  margin: 0;
  padding: 0;
  padding: 24px 23px 30px 23px;
  border-radius: 16px;
  color: var(--basic-dark-text);
  background-color: var(--Pattern-color);
  background-image: url(../img/fon/pattern.jpg);
  background-repeat: repeat, repeat;
}

.advantages h2 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  color: var(--basic-dark-text);
}

.advantages ul {
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-left: 51px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  
}

 .ice_cream {
  position: relative;
  max-width: 485px;
  margin-top: 15px;
  margin-right: 81px;
}

.ice_cream::before {
  content: "";
  position: absolute;
  right: 492px;
  bottom: 26px;

  width: 49px;
  height: 49px;
  background-image: url(../img/decor/ice-cream.svg);
  background-repeat: no-repeat;
}

.cow {
  position: relative;
  max-width: 482px;
  margin-top: 15px;
}

.cow::before {
  content: "";
  position: absolute;
  right: 488px;
  bottom: 27px;

  width: 49px;
  height: 49px;
  background-image: url(../img/decor/cow.svg);
  background-repeat: no-repeat;
}

.eco {
  position: relative;
  max-width: 484px;
  margin-top: 22px;
  margin-right: 81px;
}

.eco::before {
  content: "";
  position: absolute;
  right: 490px;
  bottom: 48px;

  width: 49px;
  height: 49px;
  background-image: url(../img/decor/eco.svg);
  background-repeat: no-repeat;
}

.thermometer {
  position: relative;
  width: 482px;
  max-width: 484px;
  margin-top: 22px;
}

.thermometer::before {
  content: "";
  position: absolute;
  right: 487px;
  bottom: 48px;

  width: 49px;
  height: 49px;
  background-image: url(../img/decor/thermometer.svg);
  background-repeat: no-repeat;
}

 /*Сервировка + рассылка*/

 .news {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 26px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* 10 способов сервировки */

.sherbets {
  width: 560px;
  border-radius: 16px;
  padding: 19px;
  background-color: var(--basic-mail);
  background-image: url(../img/fon/strawberry-background.png);
  background-size: cover;
}

.sherbets p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-text);
}

.sherbets h2 {
  max-width: 287px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.sherbets a{
  color: var(--basic-dark-text);
  text-decoration: underline;
}

.sherbets a:hover {
  color: #E84D37;
}

.sherbets a:active {
  color: #E84D37;
}


/* Подписка на рассылку */ /* Не могу понять как сделать отсупы внутреннего блока от почтового фона( */

.mailing_bg {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 560px;
  border-radius: 16px;
  background-color: var(--basic-mail);
  background-image: url(../img/fon/mail-background.png);
  background-size: cover;
}

.mail {
  position: relative;
  width: 548px;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 28px;
  border-radius: 16px;
  background-color: #F8F7F4;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;

}

.mail p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-mail-text);
}

.email {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #323232;

  width: 368px;
  height: 44px;
  margin-top: 47px;
  padding: 14px;
}

.email::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}




.button_email {
  position: absolute;
  bottom: 32px;
  right: 21px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
  text-align: center;
  padding: 11px 19px 10px 19px;
  margin-left: 6px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border: 0;
}


/* Данные для связи на карте */

.map_img {
  height: 430px;
  width: 1200px;
  position: relative;
  left: 4px;
  top: 2px;
}

.map_img::before {
  content: "";
  position: absolute;
  right: 885px;
  bottom: 154px;

  width: 80px;
  height: 140px;
  background-image: url(../img/decor/pin.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.map_img img {
  position: absolute;
  right: 31px;
}

.map {
  position: relative;
}


.feedback_map {
  position: absolute;
  top: 62px;
  left: 839px;
  margin: 0;
  padding: 0;
  background-color: #FEFEFE;
  border-radius: 16px;
  padding: 32px 25px 39px 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark-text)
}


 .address_bold {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark-text);
  width: 225px;
  margin: 0;
}

.phone_feedback {
  margin-top: 22px;
  margin-bottom: 38px;
}


 .phone_bold {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark-text);
  margin: 0;
}

.feedback_map_button   {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
  padding: 10px 28px;
}


 /* Форма обратной связи */

 .communication {
  display: none;
  position: absolute;
  top: 329px;
  right: 334px;
  padding: 15px 16px 24px 24px;
  width: 477px;
  background: #F8F7F4;
  border-radius: 6px;
}

 .feedback {
  padding: 0;
}

.feedback li {
  margin-bottom: 20px;
}

.feedback input {
  width: 267px;
  height: 44px;
  padding: 16px 14px;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}

.communication input {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #323232;
}

.communication input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

.feedback textarea {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #323232;

  width: 428px;
  height: 154px;
  padding: 16px 14px;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}

.communication textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

 .communication h2 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-dark-text);
 }

.cross_big img {
  margin-left: 440px;
  position: absolute;
  right: 16px;
  top: 15px;
}


 .button_communication {
  display: inline-block;
  margin-top: 4px;
  margin-left: 288px;
  padding: 11px 24px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
 }


   /*Catalog.html*/

.header_filter {
  margin-bottom: 29px;
}

.header_filter h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.breadcrumb{
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -25px;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-text);
}

.breadcrumb a {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-text);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumb_ctlg::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 60px;

  width: 6px;
  height: 6px;
  background-image: url(../img/decor/breadcrumb.svg);
  background-repeat: no-repeat;
}

.creamy::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 79px;

  width: 6px;
  height: 6px;
  background-image: url(../img/decor/breadcrumb.svg);
  background-repeat: no-repeat;
}

.breadcrumb h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white-text);
}

.breadcrumb li {
  position: relative;
  margin-right: 22px;
}

  /*Фильтр*/

  .filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  margin-right: 15px;
}

.filter legend {
  margin-bottom: 7px;
  margin-left: 18px;
}

.filter_form {
  display: flex;
  flex-wrap: wrap;
}

.filter_item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}

.filter_points {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
}


.sort {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white-text);

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 8px 34px 6px 16px;
  border: none;
  
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.classification select {
  background-image: url(../img/decor/icon-down-dir-white.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.classification select:hover {
  background-image: url(../img/decor/icon-down-dir.svg);
}



.row {
  position: relative;
}


.sort:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-text);
}

.range_filter {
  position: relative;
  height: 36px;
  width: 215px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 16px 21px;
}

.range_filter .scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range_filter .bar {
  width: 106px;
  height: 2px;
  background-color: #F8F7F4;
  margin-left: 13px;
}

.range_filter .toggle {
  position: absolute;
  left: 0px;
  top: 7px;

  width: 20px;
  height: 20px;
  background-image: url(../img/decor/filter-button.svg);
}

.range_filter .toggle_min {
  left: 32px;
}

.range_filter .toggle_max {
  left: 130px;
}


.fatness {
  margin: 0;
  display: flex;
  padding: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 5px 20px 4px 17px;
}

.fat {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.fat+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.fat+label::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../img/decor/radio-off.svg);
  opacity: 0.8;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:22px 22px;
}

.fat:hover+label::before {
  opacity: 1;
}


.fat:disabled+label::before {
  opacity: 0.4;
}


.fat:checked+label::before {
  background-image: url(../img/decor/radio-on.svg);
  opacity: 0.8;
}

.fat:checked:disabled+label::before {
  opacity: 0.4;
}


.fat:checked:hover+label::before {
  opacity: 1;
}


.fatness li {
  margin-right: 19px;
}

.fatness li:last-child {
  margin-right: 0;
}


.fillers {
  margin: 0;
  display: flex;
  padding: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 8px 19px 4px 15px;
}

fieldset.filling {
  margin: 0;
}

.fillers li {
  margin-right: 22px;
}

.fillers li:last-child {
  margin-right: 0;
}

.filler {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filler+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}


.filler+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/decor/checkbox-off.svg);
  opacity: 0.8;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:24px 20px;
}

.filler:hover+label::before {
  opacity: 1;
}


.filler:disabled+label::before {
  opacity: 0.4;
}


.filler:checked+label::before {
  width: 24px;
  height: 20px;
  background-image: url(../img/decor/checkbox-on.svg);
  margin-right: 11px;
  opacity: 0.8;
}

.filler:checked:hover+label::before {
  opacity: 1;
}

.filler:checked:disabled+label::before {
  opacity: 0.4;
}


.button_filter {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white-text);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  margin-left: 14px;
  margin-top: 23px;
  padding: 8px 28px 6px 27px;
}

.button_filter:hover {
  background: #FFFFFF;
  color: #323232;
}

.button_filter:active {
  background: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
  color: #323232;
  border: none;

}


 /*КАТАЛОГ*/

 .products {
  display: grid;
  grid-template-columns: 267px 267px 267px 267px;
  column-gap: 26px;
  row-gap: 37px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.ice_cream_catalog {
  margin-top: 40px;
  margin-bottom: 78px;
}


.ice_cream_catalog a {
  color: var(--basic-white-text);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}


.hit_hover {
  display: none;
  position: absolute;
  top: -6px;
  left: -13px;
  height: 402px;
  width: 110%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: -1;
}

.hit_hover a  {
  text-decoration: none;
}

.button_hover_product {
  position: absolute;
  bottom: 20px;
  left: 56px;

  padding: 12px 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
  text-decoration: none;
}

.products li {
  position: relative;
  text-align: center;
  width: 266px;
}

.products li:hover .hit_hover {
  display: block;
}


.products p {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 70px;
}

.info {
  margin: 0;
  margin-top: 8px;
}

  /*Список страниц в каталоге*/

.catalog_page {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: -13px;
  margin-bottom: 32px;
}

.page_number:hover {
  padding: 3px 9px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-right: -9px;
  margin-left: -9px;
}

.page_number:active {
  padding: 3px 9px;
  background-color: #ffffff;
  color: #323232;
  border-radius: 50%;
  margin-right: -9px;
  margin-left: -9px;
}

.catalog_page .active_page {
  padding: 3px 9px;
  background-color: #ffffff;
  color: #323232;
  border-radius: 50%;
  margin-right: -9px;
  margin-left: -9px;
}


.catalog_page li {
  margin-right: 20px;
}

.catalog_page a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white-text); 
}

.back_page {
  display: block;
  width: 7px;
  height: 12px;
  margin-top: 3px;

  background-image: url(../img/decor/icon-left-small.svg);
}

.next_page {
  display: block;
  width: 7px;
  height: 12px;
  margin-top: 3px;

  background-image: url(../img/decor/icon-right-small.svg);
}

  /*Футер*/

.footer {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 1144px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
  
/* Соц сети */

.social_networks ul {
  padding: 0;
  margin: 0;
  margin-top: 36px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 32px 32px 32px 32px;
  column-gap: 12px;
}

.social_networks a {
  color: var(--basic-white-text);
}


.facebook {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/decor/fb.svg);
 }

 .vk {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/decor/vk.svg);
 }

.instagram {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/decor/instagram.svg);
 }

 .twitter {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/decor/twitter.svg);
 }

 /* "О нас" (подвал) */

 .about_us {
  position: absolute;
  left: 421px;
  bottom: 1px;
  width: 327px;
 }

 .about_us ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 144px 162px;
  row-gap: 5px;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 30px;
  line-height: 11px;
 }


 .about_us a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white-text);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
 }

  .about_us a:hover {
  color: #FFBC9E;
  }

  .about_us a:hover {
  color: #FFBC9E;
  }



 .for_suppliers {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
 }

 .for_suppliers::before {
  content: "";
  position: absolute;
  right: 118px;
  top: 2px;

  width: 15px;
  height: 13px;
  background-image: url(../img/decor/heart.svg);
  background-repeat: no-repeat;
}


  /* Сделано в HtmlAcademy (Подвал) */

  .html_academy p {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white-text);
}


  .html_academy a{
  color: var(--basic-white-text);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.html_academy a:hover {
  color: #FFBC9E;
  }


.html_academy a:active {
  color: #FFBC9E;
}

