:root {
  --fon-color: #849D8F;
  --fon-color-two: #8996A6;
  --fon-color-three: #9D8B84;
  --basic-white-text: #ffffff;
  --basic-dark-text: #323232;
  --basic-mail: #F8F7F4;
  --basic-mail-text: #5A5A5A;
  --Raspberry-color: #8B0000;
  --Chocolate-color: #8B4513;
  --Pattern-color: #DEB887;
  --black-color: #000000;
}




.search_form {           /*Спрятанные поля*/
  display: none;
}    

.ctlg_submenu {
  display: none;
}

.login_form {
  display: none;
}

.visually-hidden {
  display: none;
}

.communication {
  display: none;
}

body {
  background-color: var(--fon-color);
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--basic-white-text);
}

img { 
  max-width: 100%
}

a { 
  text-decoration: none
}

/*Кнопки и состояние на баннерах */

 .button {
  margin: 0;
  padding: 0;
  width: 164px;
  height: 48px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding-top: 15px;
  padding-left: 22px;
  padding-bottom: 16px;
  padding-right: 22px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Меню */

.container {
  width: 1146px;
  border: 5px solid #0000ff;
  margin: 0 auto;
}

.site_header {
    display: flex;

  }

.main_navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-white-text);
  list-style-type: none;
  padding-top: 23px;
}

.main_navigation li:nth-child(1) {
  margin-left: 24px;
  margin-right: 32px;
}

.main_navigation li:nth-child(3) {
  margin-left: 32px;
}

.main_navigation a {
  color: var(--basic-white-text);
  text-decoration: underline;
}

.user_navigation {
  display: flex;
  border: 5px solid #ff0fff;
  width: 244px;
  height: 32px;
  margin-left: auto;

}

.ctlg a:hover {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-text);
}

.ctlg_submenu {
  list-style-type: none;
}

.ctlg_submenu a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-text);
  text-decoration: none;
}

.ctlg_submenu .novelties_ctlg {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}



/* Поиск */

.search_icon { 
  width: 16px;
  height: 16px;  
  background-image: url(../img/decor/loupe.svg);
}

/* Логин */

.login a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-text);
}

.login a:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-text);
}

.authentication_problem a {
  color: var(--basic-dark-text);
  text-decoration: underline;
}

.button_login {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

/* Корзина пустая */

.empty_basket {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.empty_basket a {
  color: var(--basic-white-text);
}

 /*Корзина с товарами*/

 .basket_red a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-text);
 }

 .product_basket {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark-text)
 }

 .price_kg {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--black-color);
 }

 .total {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-dark-text);
 }

 .button_place_your_order {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
 }

/* Время работы и тел */

.phone  {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.contacts a {
  color: var(--basic-white-text);
}

.contacts {
  width: 167px;
  height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding-top: 0px;
  margin-left: auto;
  margin-top: 20px;
  border: 5px solid #fff445;
}

/* Слайдеры на главной */

.slider {
  width: 647px;
  height: 584px;
  display: flex;
  position: relative;
  padding-top: 0px;
  text-align: center;
  color: #ffffff;
  display: flex;
  margin-left: 277px;
  margin-right: 276px;
  
}

.slider ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.slider h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px; /* или 100% */
  text-align: center;
  margin: 0 auto;
  width: 672px;
  height: 119px;
  padding-top: 315px;
  padding-bottom: 27px;
}

.slider a {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: var(--basic-white-text);
  text-align: center;
}

.slider_one {
  width: 647px;
  height: 584px;
  background-color: var(--fon-color);
  background-image: url(../img/content/slide1.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top center;
}

.slider_two {
  width: 647px;
  height: 584px;
  background-color: var(--fon-color-two);
  background-image: url(../img/content/slide2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top center;
}

.slider_three {
  width: 647px;
  height: 584px;
  background-color: var(--fon-color-three);
  background-image: url(../img/content/slide3.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top center;
}

.slider_buy {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin-bottom: 60px;
}

.slider_buy:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider_buy:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider_control {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider_control button {
  padding: 0px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider_control .current {
  background-color: #ffffff;
}

  /*Малиновый + шоколадный банер*/

.hit {
  display: flex;
  justify-content: space-between;
}


/* Малиновый баннер */

.raspberry {
  width: 560px;
  height: 229px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border-radius: 16px;
  background-color: var(--Raspberry-color);
  background-image: url(../img/fon/crimson-background.png);
}

.raspberry h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: : 271px;
}

.raspberry a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
}

.raspberry p {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 30px;
  margin-bottom: 42px;
}

.button_raspberry {
  margin-top: 42px;
  margin-left: 374px;
  margin-bottom: 22px;
  margin-right: 22px;
}


/* Шоколадный баннер баннер */

.chocolate {
  width: 560px;
  height: 229px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border-radius: 16px;
  background-color: var(--Chocolate-color);
  background-image: url(../img/fon/chocolate-background.png);
}

.chocolate h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: : 227px;
}

.chocolate a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
}

.chocolate p {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 42px;
  margin-right: : 30px;
}

.button_chocolate {
  margin-top: 16px;
  margin-left: 347px;
  margin-bottom: 22px;
  margin-right: : 22px;
}

/* Хиты */

.price {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.hits p {
  margin-top: -70px;
  padding: 0px;
  border: 5px solid #ff00ff;
}

.kg {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.hits {
  width: 1146px;
  margin-bottom: 20px;
}

.hits a {
  color: var(--basic-white-text);
  text-decoration: underline;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.hits ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.hits li {
  width: 267px;
  margin-top: 40px;
}

.hits li:nth-child(2) {
  margin-left: 26px;
  margin-right: 26px;
}

.hits li:nth-child(3) {
  margin-right: 26px;
}

/* Преимущества, вафельный фон */

.advantages {
  border:1px dashed transparent;
  width: 1146px;
  height: 306px;
  border-radius: 16px;
  color: var(--basic-dark-text);
  background-color: var(--Pattern-color);
  background-image: url(../img/fon/pattern.jpg);
  background-repeat: repeat, repeat;
}

.advantages h2 {
  width: 995px;
  height: 60px;
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 131px;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  color: var(--basic-dark-text);
}

.advantages ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  
}

 .ice_cream {
width: 485px;
height: 55px;
border: 1px solid #ff00ff;
margin-top: 21px;
margin-bottom: 33px;
margin-right: 26px;
}

.cow {
width: 482px;
height: 55px;
border: 1px solid #ff00ff;
margin-top: 21px;
margin-right: 17px;
margin-bottom: 33px;
}

.eco {
width: 484px;
height: 77px;
border: 1px solid #ff00ff;
margin-bottom: 36px;

}

.thermometer {
width: 484px;
height: 55px;
border: 1px solid #ff00ff;
margin-right: 17px;
}




.cow_pic {
  width: 49px;
  height: 49px;
  background-image: url(../img/decor/cow.svg);
  background-repeat: no-repeat;
  margin-right: 6px;
  margin-bottom: 39px;
}

.ice_cream_pic {
  width: 49px;
  height: 49px;
  background-image: url(../img/decor/ice-cream.svg);
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-bottom: 39px;
  margin-right: 6px;
}

.eco_pic {
  width: 49px;
  height: 49px;
  background-image: url(../img/decor/eco.svg);
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-bottom: 78px;
  margin-right: 6px;
}

.thermometer_pic {
  width: 49px;
  height: 49px;
  background-image: url(../img/decor/thermometer.svg);
  background-repeat: no-repeat;
  margin-left: 27px;
  margin-bottom: 78px;
  margin-right: 6px;
}

/* 10 способов сервировки */

.news {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sherbets {
  width: 560px;
  height: 220px;
  border-radius: 16px;
  background-color: var(--basic-mail);
  background-image: url(../img/fon/strawberry-background.png);
}

.sherbets p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-text);
  margin-left: 20px;
  margin-top: 23px;
}

.sherbets h2 {
  width: 287px;
  height: 77px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
  margin-right: 253px;
  margin-top: 15px;
  margin-bottom: 94px;
}

.sherbets a{
  color: var(--basic-dark-text);
  text-decoration: underline;
}

/* Подписка на рассылку */ /* Не могу понять как сделать отсупы внутреннего блока от почтового фона( */

.mailing_bg {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 560px;
  height: 220px;
  border-radius: 16px;
  background-color: var(--basic-mail);
  background-image: url(../img/fon/mail-background.png);
}

.mail {
  width: 548px;
  height: 210px;
  border-radius: 16px;
  background-color: #F8F7F4;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;

}

.mail p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-mail-text);
  margin-left: 20px;
  margin-top: 29px;
  margin-bottom: 47px;
  margin-right: 16px;
}

.email {
  width: 368px;
  height: 44px;
  margin-left: 20px;
  margin-bottom: 35px;
}

.button_email {
  width: 130px;
  height: 44px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
  text-align: center;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 14px;
  padding-bottom: 13px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border: 0;
  margin-left: 10px;
  margin-bottom: 36px;
  margin-right: 12px;
  /*margin-top: 46px;*/
}


/* Данные для связи на карте */

.feedback_map {
  margin: 0;
  padding: 0;
  border:1px dashed transparent;
  background-color: #FEFEFE;
  border-radius: 16px;
  width: 303px;
  height: 306px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark-text)
}

.adress {
  margin-top: 32px;
  margin-left: 25px;
  margin-right: 123px;
  margin-bottom: 8px;
}


.feedback_map .address_map {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark-text);
  margin-right: 53px;
  margin-bottom: 30px;
  margin-left: 25px;
  width: 225px;
  height: 37px;
}

.phone_feedback {
  margin-left: 25px;
  margin-right: 106px;
  margin-bottom: 11px;

}

.feedback_map .phone_map {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark-text);
  margin-left: 25px;
  margin-bottom: 8px;
  margin-top: 0;

}

.feedback_map_button  {
  width: 253px;
  height: 43px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white-text);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 22px;
  margin-top: 31px;

}

 /* Форма обратной связи */

 .communication h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--basic-dark-text);
 }

 .button_communication {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
 }

   /*Catalog.html*/

.breadcrumb{
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-text);
}

.breadcrumb a {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-text);
}

.breadcrumb h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white-text);
}

  /*Фильтр*/

.filter_item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}

.filter_points {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
}

.button_filter {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.sort {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white-text);
}

.sort:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-text);
}

 /*Каталог*/

 .Products {
  list-style-type: none;
}

.ice_cream a {
  color: var(--basic-white-text);
  text-decoration: underline;
}

  /*Список страниц в каталоге*/

.catalog_page {
  list-style-type: none;
}

.catalog_page a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white-text);
  
}

  /*Футер*/

.footer {
  border: 5px solid #FF00FF;
  width: 1144px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
  
/* Соц сети */

.social_networks ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social_networks a {
  color: var(--basic-white-text);
}

.social_networks {
  display: flex;

}

.facebook {
  width: 32px;
  height: 32px;
  background-image: url(../img/decor/fb.svg);
  margin-right: 12px;
 }

 .vk {
  width: 32px;
  height: 32px;
  background-image: url(../img/decor/vk.svg);
  margin-right: 12px;
 }

.instagram {
  width: 32px;
  height: 32px;
  background-image: url(../img/decor/instagram.svg);
  margin-right: 12px;
 }

 .twitter {
  width: 32px;
  height: 32px;
  background-image: url(../img/decor/twitter.svg);
 }

 /* "О нас" (подвал) */

 .about_us {
  display: flex;
  flex-wrap: wrap;
  width: 327px;
  border: 5px solid #ff00ff;
 }

 .about_us ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
 }

 .about_us a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
   color: var(--basic-white-text);
   text-decoration: underline;
 }

 .heart {
  width: 15px;
  height: 13px;
  background-image: url(../img/decor/heart.svg);
 }

 .for_suppliers {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
 }



  /* Сделано в HtmlAcademy (Подвал) */

  .html_academy {
    width: 190px;
    height: 60px;
  }

  .html_academy p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white-text);
  }








